.box {
	margin: 0 auto;
	text-align: center;
}
button, input {
	display: block;
	margin: 10px auto;
	width: 200px;
	padding: 5px;
}
.box p {
	margin: 0;
}
#countries {
	list-style-type: none;
	display: inline-block;
	font-size: 32px;
}
#countries li {
	border: 1px solid black;
   margin-bottom: 10px;
   padding: 5px;
   text-align: justify;
   background-color: black;
   border-radius: 5px;
}
p {
   
	color: blue;
   font-weight: bold;
}
li p:after,
li span:after {
   content: "'";
   color: blue;
}
span {
	color: red;
}

