.box {
	margin: 0 auto;
	text-align: center;
}
button, input {
	display: block;
	margin: 10px auto;
	width: 200px;
	padding: 5px;
}
.box p {
	margin: 0;
}
#countries {
	list-style-type: none;
	display: block;
	font-size: 32px;

}
p {
	color: blue;
	display: inline-block;
}

